*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:#fff;
color:#222;

}

/*----------------*/

.about-ipr{

width:90%;
max-width:1200px;

margin:auto;

padding:60px 0;

text-align:center;

}

.about-ipr h1{

font-size:46px;
font-weight:300;

}

.line{

width:150px;
height:4px;

background:#ef5350;

margin:10px auto 35px;

}

.about-ipr p{

max-width:900px;

margin:auto;

font-size:19px;

line-height:1.8;

margin-bottom:50px;

}

/*----------------*/

.activity-grid{
    display:grid;
    grid-template-columns:repeat(12,1fr);
    gap:0;
    margin-top:40px;
}

/* Common Box Style */
.box{
    border:2px solid #b9dfff;
    padding:35px 20px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    font-size:19px;
    min-height:120px;
    transition:.4s;
}

/* ---------- First Row ---------- */

.activity-grid .box:nth-child(1){
    grid-column:1 / span 3;
}

.activity-grid .box:nth-child(2){
    grid-column:4 / span 3;
}

.activity-grid .box:nth-child(3){
    grid-column:7 / span 3;
}

.activity-grid .box:nth-child(4){
    grid-column:10 / span 3;
}

/* ---------- Second Row ---------- */

.activity-grid .box:nth-child(5){
    grid-column:2 / span 3;
}

.activity-grid .box:nth-child(6){
    grid-column:5 / span 3;
}

.activity-grid .box:nth-child(7){
    grid-column:8 / span 3;
}

.box:hover{
    background:#0d6efd;
    color:#fff;
}



/*----------------*/

.staff{

width:90%;
max-width:1200px;

margin:auto;

padding:60px 0;

text-align:center;

}

.staff h1{

font-size:46px;
font-weight:300;

}

.staff-box{

border:3px solid #b9dfff;

padding:40px;

margin-top:40px;

text-align:left;

}

.staff-box ul{

list-style:none;

}

.staff-box li{

position:relative;

padding-left:28px;

margin-bottom:18px;

font-size:20px;

line-height:1.7;

}

.staff-box li::before{

content:"";

position:absolute;

left:0;
top:12px;

width:10px;
height:10px;

background:#ef3d2f;

border-radius:50%;

}

/*----------------*/

@media(max-width:992px){

.activity-grid{
    grid-template-columns:repeat(2,1fr);
    gap:20px;
}

.activity-grid .box{
    grid-column:auto !important;
}

}

@media(max-width:768px){

.activity-grid{
    grid-template-columns:1fr;
}

.activity-grid .box{
    grid-column:auto !important;
}

}

.about-ipr h1,
.staff h1{

font-size:34px;

}

.staff-box li{

font-size:17px;

}

.about-ipr p{

font-size:17px;

}

