*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#f7f6f3;
}

.placement-section{
padding:70px 8%;
}

.section-title{
text-align:center;
font-size:3rem;
font-weight:700;
margin-bottom:70px;
color:#0b1b45;
}

.stats-wrapper{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:30px;
margin-bottom:80px;
}

.stat-card{
width:250px;
height:250px;
border-radius:50%;
background:white;
border:3px solid #d4af37;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:25px;
position:relative;
transition:.4s;
box-shadow:0 15px 40px rgba(0,0,0,.08);
}

.stat-card:hover{
transform:translateY(-12px);
}

.icon{
width:70px;
height:70px;
background:linear-gradient(135deg,#001f54,#d4af37);
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
color:white;
font-size:1.8rem;
margin-bottom:15px;
}

.stat-card h2{
font-size:3rem;
color:#0b1b45;
}

.stat-card h3{
font-size:2rem;
color:#b8860b;
}

.stat-card p{
font-size:1rem;
font-weight:500;
line-height:1.5;
}

.charts-container{
display:grid;
grid-template-columns:1fr 1fr;
gap:40px;
}

.chart-box{
border-radius:25px;
padding:35px;
overflow:hidden;
position:relative;
}

.red-theme{
background:linear-gradient(
135deg,
#170101,
#4a0000,
#8f0000
);
color:white;
}

.blue-theme{
background:linear-gradient(
135deg,
#00102f,
#002c73,
#00143d
);
color:white;
}

.chart-header{
display:flex;
align-items:center;
gap:15px;
margin-bottom:40px;
}

.chart-header i{
font-size:2rem;
color:#d4af37;
}

.chart-header h2{
font-size:2rem;
}

.chart-header p{
color:#ddd;
}

.bar-chart{
height:350px;
display:flex;
align-items:flex-end;
justify-content:space-around;
}

.bar-item{
display:flex;
flex-direction:column;
align-items:center;
width:55px;
height:100%;
}

.bar-item span{
margin-bottom:8px;
font-weight:600;
}

.bar{
width:100%;
background:linear-gradient(
180deg,
#ff4d4d,
#d90000
);
border-radius:10px 10px 0 0;
box-shadow:0 0 15px rgba(255,0,0,.5);
transition:.5s;
}

.bar.blue{
background:linear-gradient(
180deg,
#5f8fff,
#002f8c
);
box-shadow:0 0 15px rgba(0,89,255,.5);
}

.bar:hover{
transform:scaleY(1.05);
}

.bar-item p{
margin-top:10px;
font-size:.9rem;
}

@media(max-width:991px){

.charts-container{
grid-template-columns:1fr;
}

.stat-card{
width:220px;
height:220px;
}

}

@media(max-width:600px){

.section-title{
font-size:2.2rem;
}

.stat-card{
width:200px;
height:200px;
}

.bar-chart{
overflow-x:auto;
gap:20px;
}

}