*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:#ffffff;
color:#222;
line-height:1.8;

}

.container{

width:90%;
max-width:1200px;
margin:auto;

}

.rd-section{

padding:70px 0;
text-align:center;

}

.rd-section h1{

font-size:42px;
margin-bottom:25px;
color:#002147;

}

.intro{

font-size:18px;
max-width:1000px;
margin:auto;

}

/*======================
CORE VALUES
========================*/

.values{

padding:60px 0;

text-align:center;

}

.values h2{

font-size:34px;
margin-bottom:60px;
color:#002147;

}

.circle-wrapper{

display:flex;
justify-content:center;
align-items:center;
flex-wrap:wrap;

}

.circle{

width:250px;
height:250px;

border:2px solid royalblue;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

text-align:center;

font-size:22px;

font-weight:600;

position:relative;

margin-left:-35px;

background:#fff;

transition:.4s;

}

.circle:first-child{

margin-left:0;

}

.circle:hover{

background:#0d6efd;

color:#fff;

transform:translateY(-8px);

}

.circle .dot{

width:28px;
height:28px;
background:#ff3b30;
border-radius:50%;

position:absolute;

left:10px;
bottom:30px;

}

/*=====================
OBJECTIVES
======================*/

.objectives{

padding:70px 8%;

}

.objectives h2{

text-align:center;

font-size:36px;

color:#002147;

}

.underline{

width:80px;
height:4px;

background:#ff3b30;

margin:10px auto 40px;

}

.objective-box{

background:#f3f5f8;

padding:25px;

margin-bottom:20px;

border-left:6px solid royalblue;

font-size:18px;

transition:.3s;

}

.objective-box:hover{

background:#0d6efd;
color:white;

}

/*=====================
ACTIVITIES
======================*/

.activities{

padding:70px 8%;

}

.activities h2{

text-align:center;

font-size:36px;

margin-bottom:50px;

color:#002147;

}

.activity-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:25px;

}

.activity-card{

padding:40px;

border:3px solid #bfe0ff;

text-align:center;

font-size:18px;

background:white;

transition:.4s;

}

.activity-card:hover{

background:#0d6efd;

color:white;

transform:translateY(-8px);

}

/*=====================
Responsive
======================*/

@media(max-width:991px){

.activity-grid{

grid-template-columns:repeat(2,1fr);

}

.circle{

margin:20px;

}

}

@media(max-width:768px){

.activity-grid{

grid-template-columns:1fr;

}

.circle{

width:220px;
height:220px;

margin:20px;

}

.rd-section h1{

font-size:34px;

}

.values h2,
.objectives h2,
.activities h2{

font-size:30px;

}

}